:root {
  --blue: #5095ec;
  --black: #505050;
  --second-tx: #8f8f8f;
  --grey: #d3d8de;
  --bg-1: #f1f1f1;
  --white: #ffffff;
  --bg-2: #fafafa;

  --padding-l: 32px;
  --padding-m: 16px;
  --padding-s: 8px;

  --text-size-s: 12px;
  --text-size-m: 14px;
  --text-size-l: 16px;
  --text-size-xl: 18px;

  --background-index: -99;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.body {
  margin: 0;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 400;

  color: var(--black);
}

.link {
  text-decoration: none;
  color: inherit;
}

#app {
  padding: var(--padding-l) var(--padding-l);
}

.logo {
  font-size: var(--text-size-xl);
}

.bold {
  font-weight: 500;
}

.text-xl {
  font-size: var(--text-size-xl);
}

.text-l {
  font-size: var(--text-size-l);
}

.text-m {
  font-size: var(--text-size-m);
}

.text-s {
  font-size: var(--text-size-s);
}

.text-secondary {
  color: var(--second-tx);
}

.text-blue {
  color: var(--blue);
}

.main {
  padding: var(--padding-l);
  box-sizing: border-box;
}

.header {
  background-color: var(--white);

  font-size: var(--text-size-l);
}

.header_section {
  box-sizing: border-box;
  padding: 0 var(--padding-l);
  box-shadow: 0px 1px 1px 0px #0000001a;
}

.header_section:first-child {
  height: 64px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.gap-32 {
  gap: 32px;
}

.px-16 {
  padding: 0 var(--padding-m);
}

.px-8 {
  padding: 0 var(--padding-s);
}

.px-32 {
  padding: 0 var(--padding-l);
}

.icon-link__horizontal {
  height: 40px;
}

.icon-link__active {
  background-color: var(--bg-1);
  box-sizing: border-box;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: var(--background-index);
  background-color: var(--bg-1);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
  column-gap: 32px;

  max-width: 100%;
}

.grid-container__aside {
  grid-template-columns: 1fr 264px;
}

@media (width < 720px) {
  .header {
    font-size: 12px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .aside {
    margin-top: 32px;
  }

  .icon-link__horizontal {
    gap: 4px;
  }

  .header_section {
    padding: 0 5px;
  }

  .header_section:first-child p {
    font-size: var(--text-size-m);
  }

  .header_section a > div {
    gap: 4px;
    padding: 0 var(--padding-s);
  }

  .header_section div {
    gap: 8px;
  }

  .header_section:nth-child(2) {
    padding: 0 5px;
    box-shadow: 0px 1px 1px 0px #0000001a;
    flex-direction: column;

    & > div:nth-child(2) {
      margin-left: 0;
    }
  }

  .dropdown_head > div > div {
    display: none;
  }

  .dropdown_head {
    padding: var(--padding-l) var(--padding-l);
  }
}

.user-badge {
  padding: var(--padding-l) 50px;
  text-align: center;
}

.user-badge_photo {
  border: 0;
  border-radius: 100%;
  height: 132px;
  width: 132px;
}

.dropdown {
  display: flex !important;
  flex-direction: column !important;

  width: 100% !important;
  height: auto !important;

  box-shadow: 0px 0px 2px 0px #0000001a !important;

  background-color: var(--white) !important;
  gap: 0;
}

.dropdown_head {
  display: flex;
  width: 100%;

  min-height: 56px;

  align-items: center;

  box-sizing: border-box;

  padding: 0 var(--padding-l);

  font-size: var(--text-size-l);
  font-weight: 400;
}

.dropdown_head::after {
  display: none !important;
}

.dropdown_head__p-32 {
  padding: 0 var(--padding-l);
}

.dropdown_head__p-16 {
  padding: 0 var(--padding-m);
}

.dropdown_body__p-16 {
  padding: 0 var(--padding-m) var(--padding-m) var(--padding-m);
}

.dropdown_body__p-32 {
  padding: 0 var(--padding-l) var(--padding-l) var(--padding-l);
}

.dropdown_head__h-56 {
  min-height: 56px;
}

.dropdown_head__h-38 {
  min-height: 38px;
}

.dropdown_body {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  gap: 16px;
}

.aside {
  width: 100%;
  height: auto;
}

.aside_elem {
  background-color: var(--white);

  box-shadow: 0px 0px 2px 0px #0000001a;
}

.devider {
  min-height: 1px;
  width: 100%;

  position: relative;
  z-index: 1;

  background-color: var(--grey);
}

.badge {
  border-radius: 8px;

  padding: 0 5px;
  gap: 8px;

  color: var(--white);

  font-size: var(--text-size-s);
  font-weight: 400;
  line-height: 16px;
}

.badge__red {
  background-color: #e33939;
}

.badge__green {
  background: #47b091;
}

#shareTextArea {
  resize: none;

  border: 1px solid #d3d8de;
  padding: var(--padding-s) var(--padding-m);
  border-radius: 4px;
  min-height: 88px;
}

.dropdown_body > div {
  display: flex;
  flex-direction: row;

  gap: 16px;

  align-items: center;
}

.dropdown_head > div {
  display: flex;
  flex-direction: row;
}

#save-button {
  background-color: var(--blue);
  border-radius: 4px;
  border: 0;
  color: var(--white);
  padding: 8px 20px;
}

#map {
  height: 480px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-animation {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.icon-rotate-180deg {
  transform: rotate(180deg);
}
