:root {
  --blue: #5095ec;
  --black: #505050;
  --second-tx: #8f8f8f;
  --grey: #d3d8de;
  --bg-1: #f1f1f1;
  --white: #ffffff;
  --bg-2: #fafafa;

  --side-padding: 32px;

  --text-size-s: 12px;
  --text-size-m: 14px;
  --text-size-l: 16px;
  --text-size-xl: 18px;
}

body {
  margin: 0;
  font-family: 'Roboto', serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;

  color: var(--black) !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

main {
  padding: var(--side-padding);
  box-sizing: border-box;
}

header {
  background-color: var(--white) !important;

  font-size: 16px !important;
}

.header_section {
  padding: 0 var(--side-padding);
  box-shadow: 0px 1px 1px 0px #0000001a;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.gap-32 {
  gap: 32px;
}

.px-16 {
  padding: 0 16px;
}

.px-8 {
  padding: 0 8px;
}

.px-32 {
  padding: 0 32px;
}

.h-40 {
  height: 40px;
}

.h-56 {
  height: 56px;
}

.h-38 {
  height: 38px !important;
}

.icon_link__active {
  background-color: var(--bg-1);
  box-sizing: border-box;
}

.background {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 100%;

  z-index: -99;

  background-color: var(--bg-1);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 !important;
  margin: 0 !important;
  column-gap: 32px;

  max-width: 100% !important;
}

.container-with-aside {
  grid-template-columns: 1fr 264px !important;
}

.user-badge {
  padding: 32px 50px 32px 50px;
  text-align: center;
}

.user-badge_photo {
  border: 0;
  border-radius: 9999px;
  height: 132px;
  width: 132px;
}

.dropdown {
  display: flex !important;
  flex-direction: column !important;

  width: 100% !important;
  height: auto !important;

  box-shadow: 0px 0px 2px 0px #0000001a !important;

  background-color: var(--white) !important;
  gap: 0;
}

.dropdown_head {
  display: flex !important;
  width: 100% !important;

  height: 56px !important;

  align-items: center !important;

  box-sizing: border-box !important;

  align-items: center !important;

  padding: 0 32px !important;

  font-size: 16px;
  font-weight: 400;
}

.dropdown_head::after {
  display: none !important;
}

.dropdown_head__p-32 {
  padding: 0 32px;
}

.dropdown_head__p-16 {
  padding: 0 16px !important;
}

.dropdown_body__p-16 {
  padding: 0 16px 16px 16px;
}

.dropdown_body__p-32 {
  padding: 0 32px 32px 32px;
}

.dropdown_head__h-56 {
  height: 56px;
}

.dropdown_head__h-38 {
  height: 38px !important;
}

.dropdown_body {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  gap: 16px;
}

.aside {
  width: 100%;
  height: auto;
}

.aside-elem {
  background-color: var(--white);

  box-shadow: 0px 0px 2px 0px #0000001a;
}

.devider {
  min-height: 1px;
  width: 100%;

  position: relative;
  z-index: 1;

  background-color: var(--grey);
}

.badge {
  border-radius: 8px !important;

  padding: 0 5px !important;
  gap: 8px !important;

  color: var(--white);

  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
}

.badge__red {
  background-color: #e33939;
}

.badge__green {
  background: #47b091;
}

#shareTextArea {
  resize: none;

  border: 1px solid #d3d8de;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  min-height: 88px;
}

.dropdown_body > div {
  display: flex;
  flex-direction: row;

  gap: 16px;

  align-items: center;
}

.dropdown_head > div {
  display: flex;
  flex-direction: row;
}

#save-button {
  background-color: var(--blue);
  border-radius: 4px;
  border: 0;
  color: var(--white);
  padding: 8px 20px;
}

#map {
  height: 480px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-animation {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.icon-rotate-180deg {
  transform: rotate(180deg);
}

p {
  margin: 0 !important;
}

.dropdown_head {
  font-size: 16px;
  font-weight: 400 !important;
}
