<div class="grid-container grid-container__aside">
  <div class="d-flex flex-column gap-32">
    <div class="dropdown">
      <div class="dropdown_head h-56"></div>
      <div class="dropdown_body dropdown_body__p-32">
        <p class="d-flex flex-column gap-8 text-block">
          <span>
            Привет! Я - JavaScript разработчик, ищу компанию и дружный коллектив, в котором смогу развить свои
            профессиональные навыки и работать в свое удовольствие.
          </span>
          <br />
          <span>
            Frontend stack: JavaScript, TypeScript, React, Next, Mobx, TailwindCSS, Tanstack Query (aka React Query),
            Less/Sass, Pug.
          </span>
          <br />
          <span>Backend stack: Node.js, NestJS, SQL, Sequelize</span>
          <br />
          <span>
            GitHub:
            <a href="https://github.com/majishanred?tab=repositories">https://github.com/majishanred</a>
          </span>
        </p>
        <div class="d-flex align-items-center gap-8">
          <img src="./public/Comment Outline.svg" />
          <p class="text-block"><a class="text-blue">Jason Anderson</a> commented:</p>
        </div>
        <div class="d-flex gap-10">
          <div class="background-grey" style="height: 100%; min-width: 2px"></div>
          <div class="d-flex flex-column gap-16">
            <span>
              Don’t sit and wait. Get out there, feel life. Touch the sun, and immerse in the sea. Keep love in your
              heart. A life without it is like a sunless garden when the flowers are dead. Because summer is passion,
              memories, light breeze, the sun that appears on the skin and caresses the face.
            </span>
            <p class="text-secondary">
              <span>- Jason, <span class="fst-italic">10:30 am</span></span>
            </p>
          </div>
        </div>
        <div class="d-flex gap-16">
          <div class="d-flex gap-8 align-items-center">
            <img src="./public/Eye Outline.svg" alt="" />
            <span>432</span>
          </div>
          <div class="d-flex gap-8 align-items-center">
            <img src="./public/Comment Outline.svg" alt="" />
            <span>47</span>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <div class="dropdown_head h-56">
        <span>Sunset Sunset Sunset</span>
        <div class="d-flex align-items-center ms-auto gap-16">
          <div class="d-flex align-items-center gap-8">
            <img src="./public/Time Outline.svg" />
            <span>53 minutes ago</span>
          </div>
          <img src="./public/Chevron Down Outline.svg" class="icon-rotate-180deg" />
        </div>
      </div>
    </div>
    <div class="dropdown">
      <div class="dropdown_head h-56">
        <span>Sunset Sunset Sunset</span>
        <div class="d-flex align-items-center ms-auto gap-16">
          <div class="d-flex align-items-center gap-8">
            <img src="./public/Time Outline.svg" />
            <span>53 minutes ago</span>
          </div>
          <img src="./public/Chevron Down Outline.svg" class="icon-rotate-180deg" />
        </div>
      </div>
    </div>
  </div>
  <aside class="d-flex flex-column gap-32 aside">
    <section class="user-badge aside_elem d-flex flex-column align-items-center gap-16">
      <img src="./public/my_photo.jfif" class="user-badge_photo" />
      <div class="d-flex flex-column gap-8">
        <span class="text-xl">Matvey Kalashnikov</span>
        <span class="text-l text-secondary">Frontend Developer</span>
      </div>
      <div>
        <a href="https://t.me/majilol" class="link">
          <img src="./public/telegram_logo_icon_144811 1.svg" alt="" />
        </a>
        <a href="https://hh.ru/resume/c970b859ff0cfcabc00039ed1f61426642325a" class="link">
          <img src="./public/hh.ru__min_ 1.svg" alt="" />
        </a>
        <a class="link">
          <img src="./public/twitter_2_icon-icons.com_59206 1.svg" alt="" />
        </a>
      </div>
    </section>
    <section class="aside_elem">
      <div class="dropdown">
        <div class="dropdown_head dropdown_head__px-16 dropdown_head__h-38">
          <span>Navigation</span>
          <img src="./public/Chevron Down Outline.svg" class="ms-auto" />
        </div>
        <div class="divider"></div>
        <div class="dropdown_body dropdown_body__p-16 pt-16">
          <div class="d-flex flex-row gap-16">
            <img src="./public/Person Outline.svg" alt="" />
            <span>My profile</span>
          </div>
          <div class="d-flex flex-row gap-16">
            <img src="./public/Finance Outline.svg" alt="" />
            <span>Balance</span>
            <span class="ms-auto text-secondary text-s">$ 1,430</span>
          </div>
          <div class="d-flex flex-row gap-16 align-items-center">
            <img src="./public/Scheme Outline.svg" alt="" />
            <span>Connections</span>
            <div class="text-badge text-badge__red ms-auto d-flex align-items-center justify-content-center">
              <span>29</span>
            </div>
          </div>
          <div class="d-flex flex-row gap-16">
            <img src="./public/People Outline.svg" alt="" />
            <span>Friends</span>
          </div>
        </div>
        <div class="divider"></div>
        <div class="dropdown_body dropdown_body__p-16 pt-16">
          <div class="d-flex flex-row gap-16 align-items-center">
            <img src="./public/Calendar Outline.svg" alt="" />
            <span>Events</span>
            <div class="text-badge text-badge__green ms-auto d-flex align-items-center justify-content-center">
              <span>45</span>
            </div>
          </div>
          <div class="d-flex flex-row gap-16">
            <img src="./public/Settings Outline.svg" alt="" />
            <span>Account Settings</span>
          </div>
        </div>
      </div>
    </section>
    <section class="aside_elem d-flex flex-column align-items-center gap-16">
      <div class="dropdown">
        <div class="dropdown_head dropdown_head__px-16 dropdown_head__h-38">
          <span>Share your thoughts</span>
          <img src="./public/Chevron Down Outline.svg" alt="" class="ms-auto" />
        </div>
        <div class="divider"></div>
        <div class="dropdown_body dropdown_body__p-16 gap-8 pt-8">
          <textarea placeholder="Enter your message..." id="shareTextArea"></textarea>
          <button id="save-button">Save</button>
        </div>
      </div>
    </section>
  </aside>
</div>
