<div class="container">
  <div class="row">
    <div class="col">
      <div class="dropdown">
        <div class="dropdown_head">
          <span>Basic map</span>
          <div class="d-flex flex-row ms-auto align-items-center gap-8">
            <img src="./public/Chevron Down Outline.svg" class="icon-rotate-180deg" />
            <img src="./public/Update Outline.svg" />
            <img src="./public/Close Outline.svg" />
          </div>
        </div>
        <div class="dropdown_body dropdown_body__p-32">
          <div id="map">
            <img src="./public/Redo Outline.svg" class="loading-animation ms-auto me-auto" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/map.js"></script>
